.pagination {
  padding-top: 0;
  display: flex;
  justify-content: center;

  @media (min-width: 1024px) {
    padding-top: var(--size-4);
  }

  .page {
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-gray-lightest);
    color: var(--color-blue);
    height: var(--size-8);
    width: var(--size-8);
    display: inline-block;
    margin-right: var(--size-1);
    font-weight: 600;

    .page-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .current {
      border-radius: 50%;
      background-color: var(--color-blue);
      color: var(--color-white);
    }
    .navigation {
      border-radius: 50%;
      background-color: var(--color-white);
      color: var(--color-blue);
    }
  }
  :last-child {
    margin-right: 0;
  }
}
