.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .container {
    width: 90%;
    margin: var(--size-4);

    @media (min-width: 640px) {
      width: 70%;
    }
    .filters {
      margin-bottom: var(--size-6);
      display: flex;
      flex-direction: column;
      align-items: left;
      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
      }

      > * {
        margin-right: var(--size-4);
        margin-top: var(--size-4);
      }
      :last-child {
        margin-right: 0;
      }

      .name-filter {
        input {
          width: 12rem;
        }
      }

      .items-per-page-filter {
        input {
          width: 4rem;
        }
      }
    }

    .listings {
      .listing {
        width: 100%;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 1024px) {
          flex-direction: row;
        }
      }
    }
  }
}
